

@media (max-width: 767px) {
    .iconBox1 h4 {
        font-size: 20px !important;
    }
}
.iconBox1{
    padding: 3rem !important;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    font-family: "Archivo", sans-serif;
    height: 100%;
}
.iconBox1 h1{
    color: #3a3a3a;
}
.iconBox1 h4 {
    font-size: 24px;
    
    color: #595a59;
}