@media (min-width: 1200px) {
    .ourTeamAbout_container {
        max-width: 1140px;
    }
}
.ourTeamAbout_section{
    padding: 100px 0;
}
.row{
    display: flex;
    justify-content: center !important;
}
.section_title{
    top: 131px;
    margin-bottom: 50px;
}
.section_title h2{
    color: #1dbb26;
    margin: 0px 0px 1rem;
    font-weight: bold;
    line-height: 1.2;
    font-size: 36px;
}
.section_title p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 3rem;
}
.section_title a{
    color: #1dbb26;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 34px;
    line-height: 1;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.section_title a::before{
    content: '';
  width: 60px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  opacity: 0.8;
  background-color: #d2d0d0;
}
.section_title a:hover {
    font-size: 14px;
    font-weight: bold;
    padding: 16px 34px;
    line-height: 1;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    background-color: #d2d0d0;
}

.column1_column1_images img, .column1_column2 img{
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
   height: auto;
   vertical-align: middle;
}
.counterBox{
   background: #3a3a3a;
   padding: 42.4px;
   text-align: center;
   display: block;
   border-radius: 5px;
}
.counterBox span{
   position: relative;
   font-size: 36px;
   line-height: 36px;
   font-weight: 700;
   font-family: "Archivo", sans-serif;
   color: #ffffff;
   margin-bottom: 10px;
   display: block;
   
}
.counterBox label{
   display: block;
   color: #ffffff;
   margin-bottom: 0;
   font-weight: normal;
}
