.boxContainer{
    display: block;
    position: relative;
    margin: 35px 5px 0;
    text-decoration: none;
    outline: 0 !important;
    background-color: transparent;
    color: #337ab7;
}
.projectBox{
    background: url('/images/monitor.png') center no-repeat;
    position: relative;
    background-size: contain;
    margin-bottom: 20px;
}
.projectImage{
    position: absolute;
    left: 7.2%;
    top: 4%;
    width: 86.4%;
    height: 62.3%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
    transition: all 0.5s linear 0s;
}
.boxContainer:hover .projectImage{
    background-position: center bottom;
    -webkit-transition: all 5s linear 0s;
    -moz-transition: all 5s linear 0s;
    -o-transition: all 5s linear 0s;
    transition: all 5s linear 0s;
}
.boxContainer h3{
    text-align: center;
}