@media (min-width: 1200px) {
    .counter_container {
        max-width: 1140px;
    }
}
.counter_section{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    border-color: #eeeeee !important;
}
.row{display: flex;}

