.button{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 34px;
    line-height: 1;
    border-radius: 50px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.button a:before{
    opacity: 1;
    background-color: #3a3a3a;
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.button a:hover:before{
    width: 100%;
}