.main_new_sec {
    position: relative;
    height: 453px;
    
}
.main_new_con{
    background: url(/images/slider/slideBack.png) no-repeat scroll center center;
    background-color: #3a3a3a00 ;
    background-size: cover;
    position: relative;
    overflow:hidden;
    z-index: 1;
    height: 453px;
}
@media (max-width: 476px) {
.main_new_con {
    
}
}

.pro_box{
    position: relative;
}

.leftTitle{
    /* padding-bottom: 5rem; */
    padding-top: 3rem;
    order:1;
    flex: 0 0 auto;
    padding-right: 150px;
    width: 100%;
}
.leftTitle h1{
    font-size: 5.5rem;
    font-weight: 700;
    color: #fff;
    font-family: "Archivo", sans-serif;
    margin: 0px 0px 1rem;
}
.leftTitle p{
    color: #fff;
    line-height: 1.8;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.leftInfo{
    display: flex;
    margin-top: 3rem;
}
.leftInfo h4{
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    color: #1dbb26;
    margin: 0px 0px 1rem;
    font-weight: 600;
    line-height: 1.2;
}
.leftInfo ul{
    margin-left: 3rem;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}
.leftInfo ul li{
    font-size: 21px;
    margin-right: 1rem;
    display: inline-block;

}

.rightInfo{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    
}
.rightInfo img{
     display: block;
    height: fit-content;
    flex: 0 0 auto;
        width: 100%;
}
@media (min-width: 400px) {
    .heading{
        padding: 0 20px !important;
    }
}

@media (max-width: 360px) {
    .heading {
        padding: 0 20px !important;
    }
}
/* For iPhone 12 Pro, 13, 13 Pro, 14, 14 Pro, 15, 15 Pro in Portrait Mode */
@media only screen 
  and (width: 390px) 
  and (height: 844px) 
  and (-webkit-device-pixel-ratio: 3) {
    .heading {
        padding: 0 20px !important;
    }
}