.heading{
    text-align: center;
    margin-bottom: 50px;
    padding: 0 190px;   
    z-index: 1;
    position: relative;
}
.heading h2{
    font-size: 36px;
    color: #fff;
    margin: 0px 0px 1rem;
    font-weight: bold;
    line-height: 1.2;
}
.heading p{
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.5;
    color: #ffffff;
}

@media (min-width: 400px) {
    .heading{
        padding: 0 20px !important;
    }
}

@media (max-width: 360px) {
    .heading {
        padding: 0 20px !important;
    }
}


/* For iPhone 12 Pro, 13, 13 Pro, 14, 14 Pro, 15, 15 Pro in Portrait Mode */
@media only screen 
  and (width: 390px) 
  and (height: 844px) 
  and (-webkit-device-pixel-ratio: 3) {
    .heading {
        padding: 0 20px !important;
    }
}