@media (min-width: 992px) {
    .column2 {
        padding-left: 3rem !important;
        align-self: center;
    }
}
.column1 img{
    border-radius: .25rem !important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.column2_head h4{
    color: #022d62 !important;
    font-size: 24px;
    font-weight: 600;
    margin: 0px 0px 1rem;
}
.column2_head p{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.8;
}
.button{
    margin-top: 2rem !important;
}
.button a{
    font-size: 14px;
    font-weight: bold;
    padding: 16px 34px;
    line-height: 1;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #022d62;
}
.button a:before{
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    opacity: 0.8;
    background-color: #ef3139;
}
.button a:hover:before{
    width: 100%;
    color: #fff;
}
.button a:hover{
    color: #fff;
}