@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
.section{
    padding: 100px 0px;
}
.row{
    justify-content: center;
    align-items: center;
}
.row2 img{
    height: auto;
    border-radius: 5px !important;
}