.custom_cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  pointer-events: none; /* Prevent interaction with elements */
  transform: translate3d(0, 0, 0);
  transition: transform 0.05s ease-out; /* Smooth movement for the outer circle */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle_point {
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  position: absolute; /* Positioned relative to the outer circle */
  transition: transform 0.1s ease-out; /* Smooth lagging effect for middle point */
  z-index: 10000;
}