.loc_item h5{
    position: relative;
    padding-bottom: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    padding-top: 9px;
    cursor: pointer;
    color: #fff;
    font-family: "Playfair Display", serif;
}
.loc_item h5:before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    height: 0.5px;
    left: 0;
    width: 40px;
    background: #ffffff5e;
    z-index: 1;
}
.loc_add{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.loc_add a{
    color: #fff;
    width: 300px;
}
.loc_add i{
    padding-right: 8px;
}