.titleNew{
    margin-bottom: 0px;
    font-family: "Archivo", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #676c71;
}
.titleNew  span{
    text-transform: uppercase ;

}
.titleNew h3{
    margin-bottom: 1.5rem;
    color: #022d62;
    margin: 0px 0px 1rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 24px;
}
.titleNew desc{
    margin-bottom: 1.5rem;
    margin-top: 0px;
    line-height: 1.8;
}