.cursor_outer,
.cursor_inner {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999999;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.cursor_outer {
  width: 35px;
  height: 35px;
  border: 1px solid #1dbb26;
  border-radius: 50%;
  opacity: 0.7;
  transition: transform 0.1s;
}

.cursor_inner {
  width: 8px;
  height: 8px;
  background-color: #1dbb26;
  border-radius: 50%;
  opacity: 1;
}