.review_sec{
    margin-bottom: 100px;
    
}
.row1 h2{
    margin-bottom: 0 !important;
    font-size: 36px;
    color: #022d62;
    margin: 0px 0px 1rem;
    font-weight: bold;
    line-height: 1.2;
}
.row1{
    margin-bottom: 2rem;
}
.reviewBox{
    padding: 20px 50px;
    text-align: left;
    box-shadow: 5px 5px 24px 0px rgba(2, 45, 98, 0.1);
    border-radius: 5px;
    height: 100%;
}
.review_author_det{
    display: flex;
    justify-content: left;
    align-items: center;
}
.review_author_det img{
    height: 30px;
}
.review_author_det h5{
    margin-bottom: 0px;
    padding: 1rem;
}
.swipper_box{
    padding: 20px 0px !important;
}