.pf_sec {
    /*background: url(/images/bg/bg1.jpg) no-repeat scroll center center;*/
    background-color: #fff;
    background-size: cover;
    position: relative;
    position: relative;
    
}
.pf_con{
    padding: 30px 0;
}
.pf_sec::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #3a3a3a;
    background-image: radial-gradient(#1dbb2645  10%, transparent 10%);
    background-size: 5px 5px;
    z-index: 0;
}
@media (min-width: 992px) {
    .row1 {
        margin-bottom: 1rem !important;
    }
}
.row1{
    display: flex;
    align-items:flex-end;
    margin-bottom: 1.5rem !important;
}
.portfolio_section{
    padding: 0 0 100px;
}
.pf_left_box{
    position: relative;
    z-index: 1;
    margin-top: -10rem;
}
.pf_title{
    
    padding: 0.8rem;
    text-align: center;
}
.pf_title::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #3a3a3a;
    background-image: radial-gradient(#1dbb2645  10%, transparent 10%);
    background-size: 5px 5px;
    z-index: 0;
}
.pf_title>h3{
    z-index: 1;
    margin-bottom: 0;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
}
.pf_right_box{
    position: relative;
    z-index: 1;
}
.pf_item{
    position: relative;
    background-size: contain;
    overflow: hidden;
    height: 530px;

}
.pf_img{
     background-position: center top;
  background-size: cover;
  filter: grayscale(100%);
  transition: background-position 12s ease, filter 12s ease;
  width: 100%;
  height: 100%;
}
.pf_info{
    padding: 20px;
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 2;
  opacity: 1;
  border-radius: 5px;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, 0%);
}
 .pf_item:hover .pf_info {
    opacity: 0;
    /* bottom: 20px; */
    bottom: -90px;
} 
.pf_item:hover .pf_img{
     background-position: center bottom;
  filter: grayscale(0%);
}

.icon_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #1dbb26;
    border-radius: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ffffff; }
  
  .icon_btn {
    opacity: 1;
}
.icon_btn:hover {
    color: #022d62 !important;
    text-decoration: none !important;
}
.pf_info_title{
    display: block;
    color: #022d62;
    font-size: 18px;
    font-weight: 600;
}
.pf_info_subTitle {
    display: block;
    color: #022d62;
    margin-bottom: 10px;
}
.lbox_top_cont>h4{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.5rem;
}
.lbox_top_cont>span{
   color: #ffffff00 !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1dbb26;
    display: block;
    font-size: 38px;
}
.rbox_btm_cont p{
line-height: 1.8;
color: #fff;
}
.cont_ul ul{
    list-style: disc;
    padding: 0 16px;
    color: white;
}
.cont_ul ul>li>h6{
    font-size: 13px;
    margin-bottom: 4px;
}
.cont_ul ul>li>h6>span{
    font-weight: 400;
}
.cont_ul ul>li>p{
    line-height: 1.2;
    margin-bottom: 0px;
    font-size: 12px;
}
.cont_ul ul>li::marker{
    color: #1dbb26;;
}