.pd80{
    padding: 80px 0px;
}
.pd_lr{
    padding: 0 190px; 
}
.abt_sec{
   
    position: relative;
    background-color: #ffffff;
}
.abt_sec h6{
    font-size: 20px;
    font-family: "Lora", serif;
    color: #797979;
    line-height: 26px;
    margin-bottom: 30px;
    text-align: center;
}
.abt_sec p {
    font-size: 16px;
    line-height: 26px;
    font-family: "Lora", serif;
    font-style: italic;
    color: #797979;
    margin-bottom: 50px;
}

@media (max-width: 476px) {
    .abt_sec p {
        font-size: 16px;
        padding: 0px 10px;
    }
}