.our_service {
    /*background: url(/images/bg/bg1.jpg) no-repeat scroll center center;*/
    background-color: #fff;
    background-size: cover;
    position: relative;
    
}
.pd80{
    padding: 80px 0;
}

@media (max-width: 476px) {
.pd80 {
    padding: 80px 10px;
}
}