.about_sec {
    /*background: url(/images/bg/bg1.jpg) no-repeat scroll center center;*/
    background-color: #fff;
    background-size: cover;
    position: relative;
    
}
.pd80{
    padding: 80px 0;
}

@media (max-width: 767px) {
.pd80 {
   max-width: 100%;
}
}


.pro_box{
    display: flex;
    justify-content: center;
    align-items: center;
}