.testimoni_new_sec {
    /*background: url(/images/bg/bg1.jpg) no-repeat scroll center center;*/
    background-color: #fff;
    background-size: cover;
    position: relative;
    
}
.testimoni_new_con{
    padding: 80px 0 0px;
}

@media (max-width: 767px) {
.testimoni_new_con {
   max-width: 100%;
}
}


.pro_box{
    display: flex;
    justify-content: center;
    align-items: center;
}